.locationdiv{
	z-index:10;
	display:none;
	margin:5% 50%;
	width:500px;
	left:-250px;
	background-color:black;
	color:white;
	position:fixed;
	width: 37%;
	min-height:82%;
}
#mapCanvas {
  width: 495px;
  height: 400px;
  margin: 2px auto;
}
#infoPanel {
  float: left;
  margin-left: 10px;
}
#infoPanel div {
  margin-bottom: 5px;
}