.erroralert_div{
	z-index:15;
	display:none;
	float:left;
	margin:20% 50%;
	width:600px;
	left:-295px;
	cursor:pointer;
	position: fixed;
	opacity:0.9;
	background-color: #250109;
}
.errorclose{
	float:right;
	margin: 1% 1% 0 0;
	cursor:pointer;
	background-color: #392126;
	border-radius:50%;
	text-align:center;
	width:4%;
	color: white;
}

.errorclose{
	font-size: 120%;
}
.errorh11{
	font-size: 180%;
	color: #BA6477 ;
}
.errorh12{
	font-size: 250%;
	width:10%;
	background-color: #3D3A3A ;
	border-radius:30%;
	color: white;
}