.loginclose{
	float:right;
	font-size:110%;
	margin-right:-40px;
	margin-top:-40px;
	background-color:white;
	cursor:pointer;
	border-radius:50%;
	text-align:center;
	width:4%;
	color: black;
}
.login{
	background-color:#323B56;
	display:none;
	border:solid grey;
	position: fixed;
	z-index:4;
	width: 501px;
	font-size:80%;
	margin: 15% 50%;
	left:-300px;
	padding: 50px 50px 50px 50px;
}
form{
	color:#C7CBE2;
}
form input{
	box-shadow:1px 1px 5px 1px black inset;
	padding: 2%;
	color: #137A7A;
}
table{
	height:100%;
	width:100%;
}
td label{
	font-size:130%;
	color:white;
}
table td {
	width:50%;
}
td input{
	margin-left:-25%;
	font-size:110%;
	width:120%;
}
.login button{
	margin-left:75%;
	color:white;
	background-color:#151B40;
	cursor:pointer;
	border-radius:10%;
	font-size:130%;
	height:20%;
	width:20%;
	box-shadow:-3px -3px 20px -3px black inset;
}
.login button:hover{
	background-color:#525983;
	box-shadow:-5px -5px 20px -5px black inset;
}
.login button:active{
	background-color:#8188B2;
	box-shadow:-7px -7px 20px -7px black inset;
}
