.notification{
	opacity:0.9;
	display:none;
	background-color: #5A84A0;
	z-index:10;
	margin:10% 50%;
	width:600px;
	left:-295px;
	position: fixed;
}
.notification ul{
	padding: 5% 5% 5% 5%;
}
#notificationcontent::-webkit-scrollbar{
	width: 8px;
}
#notificationcontent::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 2px;
	background-color:#545874;
	border-radius:5px;
}
#notificationcontent{
	border:solid thin;
	margin:5% 3% 3% 3%;
	height: 80%;
	overflow-y:hidden;
	overflow-x:hidden;
}
#notificationcontent:hover{
	overflow-y:scroll;
}
.notification ul li{
	background-color:#B6C4F0;
	margin-bottom:2%;
	padding: 1% 1% 1% 1%;
	list-style:none;
	height:10%;
	box-shadow:1px 1px 10px 1px #9FAEBF;
	font-size:120%;
}
.notification ul li:last-child{
}
.notification p{
	margin-bottom:0%;
	background-color:#323B56;
	color:white;
	width:100%;
	font-size:200%;
	color:white;
}
.close{
	float:right;
	margin: 1% 1% 0 0;
	font-size:110%;
	cursor:pointer;
	background-color: #392126;
	border-radius:50%;
	text-align:center;
	width:3%;
	color: white;
}
