.uploadclose{
	float:right;
	font-size:110%;
	background-color:white;
	cursor:pointer;
	border-radius:50%;
	text-align:center;
	width:4%;
	color: black;
}
.uploadpicture{
	z-index:10;
	display:none;
	width:50%;
	margin: 20% 25% 0 40%;
	position: absolute;
	background-color:#323B56;
	padding: 1% 1% 1% 1%;
}
.pictable, .picform{
	width: 98%;
	height: 98%;
}
.button{
	color:white;
	background-color:#151B40;
	cursor:pointer;
	border-radius:10%;
	font-size:100%;
	box-shadow:-3px -3px 20px -3px black inset;
}
.button:hover{
	background-color:#525983;
	box-shadow:-5px -5px 20px -5px black inset;
}
.button:active{
	background-color:#8188B2;
	box-shadow:-7px -7px 20px -7px black inset;
}
