<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EasyMidwify</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MotherRegistration</display-name>
    <servlet-name>MotherRegistration</servlet-name>
    <servlet-class>com.midwife.guardian.MotherRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotherRegistration</servlet-name>
    <url-pattern>/motherregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlineUsers</display-name>
    <servlet-name>OnlineUsers</servlet-name>
    <servlet-class>com.midwife.OnlineUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineUsers</servlet-name>
    <url-pattern>/onlineusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChildRegistration</display-name>
    <servlet-name>ChildRegistration</servlet-name>
    <servlet-class>com.midwife.child.ChildRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChildRegistration</servlet-name>
    <url-pattern>/childregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMother</display-name>
    <servlet-name>LoadMother</servlet-name>
    <servlet-class>com.midwife.child.LoadMother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMother</servlet-name>
    <url-pattern>/loadmother</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadGuardian</display-name>
    <servlet-name>LoadGuardian</servlet-name>
    <servlet-class>com.midwife.child.LoadGuardian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadGuardian</servlet-name>
    <url-pattern>/loadguardian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadFather</display-name>
    <servlet-name>LoadFather</servlet-name>
    <servlet-class>com.midwife.child.LoadFather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFather</servlet-name>
    <url-pattern>/loadfather</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChildren</display-name>
    <servlet-name>LoadChildren</servlet-name>
    <servlet-class>com.midwife.viewmother.LoadChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChildren</servlet-name>
    <url-pattern>/loadchildren</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNotification</display-name>
    <servlet-name>CreateNotification</servlet-name>
    <servlet-class>com.midwife.CreateNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNotification</servlet-name>
    <url-pattern>/createnotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLoadMothers</display-name>
    <servlet-name>UpdateLoadMothers</servlet-name>
    <servlet-class>com.midwife.motherupdate.UpdateLoadMothers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLoadMothers</servlet-name>
    <url-pattern>/updateloadmothers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMotherPicture</display-name>
    <servlet-name>ViewMotherPicture</servlet-name>
    <servlet-class>com.midwife.motherupdate.ViewMotherPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMotherPicture</servlet-name>
    <url-pattern>/viewmotherpicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLoadChildren</display-name>
    <servlet-name>UpdateLoadChildren</servlet-name>
    <servlet-class>com.midwife.motherupdate.UpdateLoadChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLoadChildren</servlet-name>
    <url-pattern>/updateloadchildren</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMother</display-name>
    <servlet-name>UpdateMother</servlet-name>
    <servlet-class>com.midwife.motherupdate.UpdateMother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMother</servlet-name>
    <url-pattern>/updatemother</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChildrenInUpdate</display-name>
    <servlet-name>LoadChildrenInUpdate</servlet-name>
    <servlet-class>com.midwife.childupdate.LoadChildrenInUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChildrenInUpdate</servlet-name>
    <url-pattern>/loadchildreninupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewChildPicture</display-name>
    <servlet-name>ViewChildPicture</servlet-name>
    <servlet-class>com.midwife.childupdate.ViewChildPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewChildPicture</servlet-name>
    <url-pattern>/viewchildpicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateChild</display-name>
    <servlet-name>UpdateChild</servlet-name>
    <servlet-class>com.midwife.childupdate.UpdateChild</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChild</servlet-name>
    <url-pattern>/updatechild</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVaccinations</display-name>
    <servlet-name>ViewVaccinations</servlet-name>
    <servlet-class>com.midwife.viewmother.ViewVaccinations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVaccinations</servlet-name>
    <url-pattern>/viewvaccinations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewChildVaccinations</display-name>
    <servlet-name>ViewChildVaccinations</servlet-name>
    <servlet-class>com.midwife.viewchild.ViewChildVaccinations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewChildVaccinations</servlet-name>
    <url-pattern>/viewchildvaccinations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadVaccineAmounts</display-name>
    <servlet-name>LoadVaccineAmounts</servlet-name>
    <servlet-class>com.midwife.childupdate.LoadVaccineAmounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadVaccineAmounts</servlet-name>
    <url-pattern>/loadvaccineamounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadVaccine</display-name>
    <servlet-name>LoadVaccine</servlet-name>
    <servlet-class>com.main.LoadVaccine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadVaccine</servlet-name>
    <url-pattern>/loadvaccine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckVaccineGiven</display-name>
    <servlet-name>CheckVaccineGiven</servlet-name>
    <servlet-class>com.midwife.childupdate.CheckVaccineGiven</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckVaccineGiven</servlet-name>
    <url-pattern>/checkvaccinegiven</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.main.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateChildLoadMothers</display-name>
    <servlet-name>UpdateChildLoadMothers</servlet-name>
    <servlet-class>com.midwife.childupdate.UpdateChildLoadMothers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChildLoadMothers</servlet-name>
    <url-pattern>/updatechildloadmothers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MothersSelect</display-name>
    <servlet-name>MothersSelect</servlet-name>
    <servlet-class>com.midwife.viewchild.MothersSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MothersSelect</servlet-name>
    <url-pattern>/mothersselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChildrenSelect</display-name>
    <servlet-name>ChildrenSelect</servlet-name>
    <servlet-class>com.midwife.viewchild.ChildrenSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChildrenSelect</servlet-name>
    <url-pattern>/childrenselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.main.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.main.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>com.main.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/sendmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessages</display-name>
    <servlet-name>LoadMessages</servlet-name>
    <servlet-class>com.main.LoadMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessages</servlet-name>
    <url-pattern>/loadmessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnreadMsgCount</display-name>
    <servlet-name>GetUnreadMsgCount</servlet-name>
    <servlet-class>com.main.GetUnreadMsgCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnreadMsgCount</servlet-name>
    <url-pattern>/getunreadmsgcount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetMessageRead</display-name>
    <servlet-name>SetMessageRead</servlet-name>
    <servlet-class>com.main.SetMessageRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMessageRead</servlet-name>
    <url-pattern>/setmessageread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessagedMothers</display-name>
    <servlet-name>LoadMessagedMothers</servlet-name>
    <servlet-class>com.midwife.message.LoadMessagedMothers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessagedMothers</servlet-name>
    <url-pattern>/loadmessagedmothers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadClinicDates</display-name>
    <servlet-name>LoadClinicDates</servlet-name>
    <servlet-class>com.midwife.clinic.LoadClinicDates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadClinicDates</servlet-name>
    <url-pattern>/loadclinicdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadClinicChildren</display-name>
    <servlet-name>LoadClinicChildren</servlet-name>
    <servlet-class>com.midwife.clinic.LoadClinicChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadClinicChildren</servlet-name>
    <url-pattern>/loadclinicchildren</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadClinicMothers</display-name>
    <servlet-name>LoadClinicMothers</servlet-name>
    <servlet-class>com.midwife.clinic.LoadClinicMothers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadClinicMothers</servlet-name>
    <url-pattern>/loadclinicmothers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLocation</display-name>
    <servlet-name>ViewLocation</servlet-name>
    <servlet-class>com.midwife.location.ViewLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLocation</servlet-name>
    <url-pattern>/viewlocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMotherSuggestions</display-name>
    <servlet-name>LoadMotherSuggestions</servlet-name>
    <servlet-class>com.midwife.profile.LoadMotherSuggestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMotherSuggestions</servlet-name>
    <url-pattern>/loadmothersuggestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChildSuggestions</display-name>
    <servlet-name>LoadChildSuggestions</servlet-name>
    <servlet-class>com.midwife.profile.LoadChildSuggestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChildSuggestions</servlet-name>
    <url-pattern>/loadchildsuggestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadGroupMothers</display-name>
    <servlet-name>LoadGroupMothers</servlet-name>
    <servlet-class>com.midwife.message.LoadGroupMothers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadGroupMothers</servlet-name>
    <url-pattern>/loadgroupmothers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadLastMessage</display-name>
    <servlet-name>LoadLastMessage</servlet-name>
    <servlet-class>com.midwife.message.LoadLastMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLastMessage</servlet-name>
    <url-pattern>/loadlastmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEvent</display-name>
    <servlet-name>CreateEvent</servlet-name>
    <servlet-class>com.midwife.event.CreateEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEvent</servlet-name>
    <url-pattern>/createevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadNotification</display-name>
    <servlet-name>LoadNotification</servlet-name>
    <servlet-class>com.main.LoadNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNotification</servlet-name>
    <url-pattern>/loadnotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMothersInArea</display-name>
    <servlet-name>ViewMothersInArea</servlet-name>
    <servlet-class>com.midwife.ViewMothersInArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMothersInArea</servlet-name>
    <url-pattern>/viewmothersinarea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MotherEditInfo</display-name>
    <servlet-name>MotherEditInfo</servlet-name>
    <servlet-class>com.midwife.guardian.MotherEditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotherEditInfo</servlet-name>
    <url-pattern>/mothereditinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChildEditInfo</display-name>
    <servlet-name>ChildEditInfo</servlet-name>
    <servlet-class>com.midwife.child.ChildEditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChildEditInfo</servlet-name>
    <url-pattern>/childeditinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.main.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/uploadimage</url-pattern>
  </servlet-mapping>
</web-app>