.right_sidebar{
	width:20%;
	height:100%;
	list-style-type: none;
	float:right;
	background-color:#CCCCCC;
	box-shadow:10px 0px 10px -10px white inset;
}
.backbody{
	width:100%;
	height:90%;
	float:right;
	display:inline-block;
}
.body{
	width:80%;
	//height:100%;
	float:right;
	//overflow-y:hidden;
	//overflow-x:hidden;
	display:inline-block;
}
.body:hover{
	//overflow-y:scroll;
}
	
.body::-webkit-scrollbar{
	width: 8px;
}
.body::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 2px;
	background-color:#545874;
	border-radius:5px;
}

.container{
	width:100%;
	background-color:none;
	margin:0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}